# Firebase Environment Variables
# Copy this file to .env and fill in the values from your Firebase project console.
# See README.md for setup instructions.

VITE_FIREBASE_API_KEY="AIzaSyAZhcfTgt1KgIlPoS-pHDk6-qpLkZkXiTo"
VITE_FIREBASE_AUTH_DOMAIN= "prayer-hub-d99b2.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="prayer-hub-d99b2"
VITE_FIREBASE_STORAGE_BUCKET="prayer-hub-d99b2.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="417830667458"
VITE_FIREBASE_APP_ID="1:417830667458:web:061af540cf7d050478675b"
